<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>P2P Chat Program</title>
</head>
<body>

<h1>Peer to Peer Chat Program</h1>

<p th:if="${username}==null" th:text="The username field is empty"></p>
<form name='Update account' action="#" th:action="@{/updateaccount}" method='POST'>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"  th:value="${newName}" />
    <input type="hidden" th:value="${username}" name="username" />
    <button th:type="submit" name="submit" value="submit ">Update</button>

</form>

<ul>
    <li>App</li>
    <li>Hi there! Submit your message using the send button!</li>
</ul>

<ul th:each="currentMessage : ${messages}">
    <li th:text="${currentMessage.getUser().getUsername()}"></li>
    <li th:text="${currentMessage.getText()}"></li>
</ul>

<form name='Save Message' action="#" th:action="@{/savemessage}"  method='POST'>
    <input type="textarea" id="message" name="message" th:value="${message}" />
    <input type="hidden" th:value="${username}" name="username" />
    <button th:type="submit" name="submit" value="submit ">Send</button>

</form>

</body>
</html>