<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Account</title>
</head>
<body>
<table style="width:50%; height:300px; font-size: large">
    <tr style="background-color:pink">
        <th>NAME</th>
        <th>BALANCE</th>
        <th>TYPE</th>
        <th>INDEX</th>
        <th>OWNER</th>
        <th>CHARACTER</th>

      </tr>
      <tr th:each="currentAccount : ${accounts}" style="background-color:lightgray" align="center">
          <td th:text="${currentAccount.name}"></td>
          <td th:text="${currentAccount.balance}"></td>
          <td th:text="${currentAccount.animalType}"></td>
          <td th:text="${currentAccountStat.index}"></td>
          <td th:if="${currentAccount.isKing()}" style="color:palegold  enrod; font-weight:bold; background-color:darkslateblue ">King</td>
          <td th:unless="${currentAccount.isKing()}">Not King</td>
          <div th:switch="${currentAccount.isGoodGuy()}">
              <td th:case="true">Good Guy</td>
              <td th:case="false">Bad Guy</td>
          </div>
        </tr>
    </table>
</body>
</html>
