<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Account</title>
</head>
<body>
<form name='New account' action="#" th:action="@{/addnewaccount}" method='POST'>
    <div>
        <div>Enter data: </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
        </div>
        <div>
            <label for="balance">Balance:</label>
            <input type="number" id="balance" name="balance" />
        </div>
        <div>
            <label for="animalType">Animal Type:</label>
            <input type="text" id="animalType" name="animalType" />
        </div>
        <div>
            <label for="isGoodGuy">Are you a?</label>
            <select id="isGoodGuy" name="isGoodGuy">
                <option th:value="true">Good Guy</option>
                <option th:value="false">Bad Guy</option>
            </select>
        </div>




    </div>
    <button th:type="submit" name="submit" value="submit ">Submit</button>


</form>

</body>
</html>