<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Account</title>
</head>
<body>
    <h1>Link to utilities</h1>
    <ul>
        <div><list><a th:href="@{'/useful/colored'}"> Colored background</a></list></div>
        <div><list><a th:href="@{'/useful/email?email=andreea@gmail.com'}">Email validator</a></list></div>
        <div><list><a th:href="@{'/useful/caesarendecoding?text=crrng&number=-2'}">Caeser decoder</a></list></div>
        <list><a th:href="@{'/useful/caesarendecoding?text=example&number=1'}">Caeser encoder</a></list></div>

    </ul>

</body>
</html>