#0 {
    font-size: 8ch;
    color: antiquewhite;
}

#1 {
    font-size: 24ch;
    color: aliceblue;
}
#2 {
    font-size: 11ch;
    color: aqua;
}

#3 {
    font-size: 4ch;
    color: aquamarine;
}

#4 {
    font-size: 28ch;
    color: firebrick;;
}

#5 {
    font-size: 15ch;
    color: beige ;
}
#6 {
    font-size: 8px;
    color: antiquewhite;
}
#0 {
    font-size: 8px;
    color: antiquewhite;
}
#0 {
    font-size: 8px;
    color: antiquewhite;
}
#0 {
    font-size: 8px;
    color: antiquewhite;
}
#0 {
    font-size: 8px;
    color: antiquewhite;
}